footer{
	margin:2rem 2 rem;
}
h1{
	margin:0.5rem 3rem;
}
h2{
	margin:2.5rem 2.5 rem;
	color:#075AAB;
}
body{
	background-color: beige;
	color:black;
	font-family:Arial,Times New Roman,sans-serif;
	text-align:center;
}
a:hover{
	color:#18AD0D;
	text-decoration:none;
}
a{
	color:blue;
	text-decoration:none;
}